name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11.0.4'
    - name: Build with Gradle
      run: ./gradlew build --info
    - name: Lint with Google Java
      uses: axel-op/googlejavaformat-action@v2.0.0
